* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif;
}

body {
  background-color: beige;
}

.main-menu {
  width: 100%;
  min-height: 100vh;
  padding: 10px 10%;
  overflow: hidden;
  position: fixed;
}

nav {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
}

.logo {
  width: 400;
}

.navdetail {
  font-size: 20px;
  font-family: Arial;
  cursor: pointer;
  flex-wrap: wrap;
  margin-right: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 400;
}

nav h1 {
  font-size: 23px;
}

.btn2 {
  text-decoration: none;
  display: inline-block;
  padding: 15px 40px;
  color:#333;
  background-image: linear-gradient(45deg, #EDD5C0, #AE8BA1);
  font-size: 17px;
  border-radius: 30px;
  border-top-right-radius: 0;
  transition: 0.10s;
}

.btn3 {
  text-decoration: none;
  display: inline-block;
  color: #333;
  background-image: linear-gradient(45deg, #AE8BA1, #EDD5C0);
  padding: 16px 90px;
  font-size: 19px;
  border-radius: 30px;
  border-top-left-radius: 0;
  transition: 0.10s;
}

.btn2:hover {
  border-top-right-radius: 30px;
}

.btn3:hover {
  border-top-left-radius: 30px;
}

.vincent {
  margin-top: 10%;
  max-width: 600px;
}

.vincent h1 {
  font-size: 70px;
  color: #222;
}

.vincent p {
  margin: 10px 0 30px;
  color: #333;
  line-height: 30px;
}

.image1 {
  width: 550px;
  position:absolute;
  bottom: 0;
  right: 13%;
}

.anime {
  opacity: 0;
  transform: translateY(30px);
  animation: moveup 1s linear forwards;
}

@keyframes moveup{
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-menu {
  display: flex;
}

.nav-buttons {
  display: flex;
}

@media (max-width: 1370px) {
  .image1 {
    display: none;
  }
}

@media (max-width: 780px) {

.image1 {
  display: none;
}
  
.nav-menu {
  position: fixed;
  left: -100%;
  top: 70px;
  width: 100%;
  height: calc(100vh - 70px);
  background-color: #BE9D6A;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 10px 27px rgba(0,0,0,0.05);
  transition: 0.3s;
  z-index: 1000;
  overflow-y: auto;
}

.nav-menu.active {
  left: -20px;
}

.hamburger {
    width: 30px;
    height: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger span {
  width: 100%;
  height: 3px;
  background-color: #333;
  transition: 0.3s;
}

  .nav-buttons {
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
  }

  .nav-buttons {
  flex-wrap: wrap;
  }
}

@media (max-width: 320px) {
  .image1 {
    display: none;

  }
  
  .vincent h1 {
    font-size: 50px;
  }
  
  .vincent {
    margin-top: 20%;
  }
  
  .btn3 {
    padding: 16px 50px;
  }
}
